<div class="py-8 px-4">
  <div class="container mx-auto max-w-4xl">
    <page-header
      title="Crear Nueva Orden"
      subtitle="Complete la información para crear una nueva orden dental"
      iconName="DOCUMENT"
    />

    <div class="bg-base-100 rounded-3xl shadow-2xl border border-base-300 overflow-hidden">
      <form-header title="Formulario de Orden" iconName="EDIT" />

      <div class="p-8">
        <form [formGroup]="form()" (ngSubmit)="onSubmit()" class="space-y-8">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            <form-select
              [form]="form()"
              fieldName="orderType"
              label="Tipo de Orden"
              placeholder="Seleccione un tipo"
              [options]="typeOptions"
              iconName="TAG"
              [formUtils]="formUtils"
            />

            <form-select
              [form]="form()"
              fieldName="status"
              label="Estado"
              placeholder="Seleccione el estado"
              [options]="statusOptions"
              iconName="CHECK_CIRCLE"
              [formUtils]="formUtils"
            />

            <form-date
              [form]="form()"
              fieldName="orderDate"
              label="Fecha de la Orden"
              iconName="CALENDAR"
              [formUtils]="formUtils"
            >
            </form-date>

            <form-select
              [form]="form()"
              fieldName="patientId"
              label="Paciente"
              placeholder="Seleccione el paciente"
              [options]="patientOptions()"
              iconName="USER"
              [formUtils]="formUtils"
            />

            <form-select
              [form]="form()"
              fieldName="doctorId"
              label="Doctor"
              placeholder="Seleccione el doctor"
              [options]="doctorOptions()"
              iconName="DOCUMENT"
              [formUtils]="formUtils"
            />
          </div>

          <form-actions
            [cancelRoute]="cancelRoute()"
            [submitText]="submitButtonText()"
            [isLoading]="isSubmitBlocked()"
            (onSubmit)="onSubmit()"
          />
        </form>
      </div>
    </div>

    <div class="text-center mt-8">
      <p class="text-base-content/60 text-sm">
        Complete todos los campos requeridos para crear la orden
      </p>
    </div>
  </div>
</div>
