<div class="container mx-auto px-4 py-0 flex flex-col md:flex-row gap-x-4">
  <div class=" {{ currentRoute() === navigationPaths.ORDERS_LIST ? '' : 'flex-1' }}">
    <router-outlet />
  </div>

  <div
    class="text-center mb-8 {{
      currentRoute() === navigationPaths.ORDERS_LIST ? 'flex-1' : 'hidden'
    }} px-4 py-8"
  >
    <div class="flex items-center justify-center px-4"></div>
    <div class="max-w-6xl mx-auto">
      <div class="overflow-x-auto rounded-lg border-2 border-base-content/20 bg-base-100 shadow-lg">
        <table class="table">
          <thead>
            <tr>
              @for (head of tableHeads(); track head) {
              <th>{{ head }}</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (order of orders; track order.id; let i = $index) {
            <tr>
              <th>{{ i + 1 }}</th>
              <td>{{ order.orderType }}</td>
              <td>
                @switch (order.status) { @case ('PENDING') {
                <span class="badge badge-warning">{{ order.status }}</span>
                } @case ('IN_PROGRESS') {
                <span class="badge badge-info">{{ order.status }}</span>
                } @case ('COMPLETED') {
                <span class="badge badge-success">{{ order.status }}</span>
                } @case ('CANCELLED') {
                <span class="badge badge-error">{{ order.status }}</span>
                } @default {
                <span class="badge badge-neutral">{{ order.status }}</span>
                } }
              </td>
              <td>{{ order.patient.name }}</td>
              <td>{{ order.doctor.name }}</td>
              <td>{{ dateFormatterService.toDisplayDate(order.orderDate) || 'N/A' }}</td>
              <td>
                <button
                  class="btn"
                  [attr.popovertarget]="'popover-' + i"
                  [style.anchor-name]="'--anchor-' + i"
                >
                  ...
                </button>
                <ul
                  class="dropdown menu w-[150px] rounded-box bg-base-100 shadow-sm"
                  popover
                  [id]="'popover-' + i"
                  [style.position-anchor]="'--anchor-' + i"
                >
                  <li><a [routerLink]="[orderUpdatePath, order.id]">Editar</a></li>
                </ul>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
