<div class="container mx-auto max-w-4xl">
  <page-header [title]="pageTitle()" [subtitle]="pageSubtitle()" iconName="LOCK" />

  <div class="bg-base-100 rounded-3xl shadow-2xl border border-base-300 overflow-hidden">
    <form-header title="Cambiar contraseña" iconName="LOCK" />

    <form [formGroup]="form()" (ngSubmit)="onSubmit()" class="space-y-6 p-6">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-6 gap-y-0">
        <form-text
          [form]="form()"
          fieldName="new-password"
          label="Contraseña"
          placeholder="Ingrese la contraseña"
          inputType="password"
          iconName="LOCK"
          [isRequired]="true"
          [formUtils]="formUtils"
          autocomplete="new-password"
        />

        <form-text
          [form]="form()"
          fieldName="confirmPassword"
          label="Confirmar contraseña"
          placeholder="Ingrese la contraseña"
          inputType="password"
          iconName="LOCK"
          [isRequired]="true"
          [formUtils]="formUtils"
          autocomplete="new-password"
        />
      </div>

      <form-actions
        [cancelRoute]="cancelRoute()"
        cancelText="Cancelar"
        [submitText]="submitButtonText()"
        submitIcon="CHECK"
        [isSubmitDisabled]="isSubmitBlocked() || form().invalid"
      />
    </form>
  </div>
</div>
